body {
    background-color: #F2F2F2;
}

.zIndex-1 {
    z-index: -1;
}

.puck-heading {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #082b4f;
    padding-bottom: 2px;
}